# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Proyecto1/servidor
Proyecto1/cliente

# Debug files
*.dSYM/
Proyecto1/Sockets/cliente
Proyecto1/Sockets/servidor
Proyecto1/RPC/tren_client
Proyecto1/RPC/tren_server
Proyecto1/Proyecto1Redes.sublime-project
Proyecto1/Proyecto1Redes.sublime-workspace
